.review-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 39vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .review-container > h1 {
    color: #fff;
    font-size: 40px;
    margin-top: -5px;
    
  }
  
  .review-container > h2 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
   margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  @media screen and (max-width: 960px) {
    .review-container > h1 {
      font-size: 40px;
      margin-top: 5px;
    }
    .review-container > h2 {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .review-container > h1 {
      font-size: 30px;
      margin-top: 5px;
    }
  
    .review-container > h2 {
      font-size: 12px;
    }
  
  }
  